apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elasticsearch
spec:
  version: 8.15.0-SNAPSHOT
  auth:
    fileRealm:
      - secretName: elasticsearch-admin
  nodeSets:
  - name: default
    count: 1
    config:
      node.store.allow_mmap: false
    podTemplate:
      spec:
        securityContext:
          runAsNonRoot: true
          runAsUser: 1000
          fsGroup: 1000
        containers:
        - name: elasticsearch
          env:
            # Disable the pod PreStop hook wait time, since we don't care about
            # high availability in our local dev environments. See:
            # https://www.elastic.co/guide/en/cloud-on-k8s/master/k8s-prestop.html
            - name: PRE_STOP_ADDITIONAL_WAIT_SECONDS
              value: "0"
  http:
    tls:
      selfSignedCertificate:
        disabled: true
---
apiVersion: v1
kind: Secret
metadata:
  name: elasticsearch-admin
type: kubernetes.io/basic-auth
stringData:
  username: admin
  password: changeme
  roles: superuser
